// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LCTRL k1 &ht LSHFT k2 &ht LALT k3 &kp k4
#define HRMR(k1,k2,k3,k4) &kp k1 &ht RALT k2 &ht RSHFT k3 &ht RCTRL k4

/ {
    macros {
        pl_col: pl_col {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp P &kp L &kp DOT &kp C &kp O &kp L &kp LPAR &kp SQT &kp SQT &kp RPAR>
                , <&kp LEFT &kp LEFT> // 괄호와 따옴표 안으로 커서 이동
                ;
        };

        pl_sort: pl_sort {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp DOT &kp S &kp O &kp R &kp T &kp LPAR &kp SQT &kp SQT &kp RPAR>
                , <&kp LEFT &kp LEFT> // 따옴표('') 사이로 커서 이동
                ;
        };
    };

    // 콤보 설정 추가
    combos {
        compatible = "zmk,combos";
        
        // s + d = ENTER
        combo_enter {
            timeout-ms = <50>;          // 동시에 눌러야 하는 제한 시간 (ms)
            key-positions = <6 7>;   // K와 L의 물리적 위치 번호
            bindings = <&kp ENTER>;     // 실행할 키
        };

         // J + K = BACKSPACE 추가
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp BSPC>;
        };

         // w + e = esc 추가
        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        }; 
        
        // polars_colums f + p  = pl.col('')
        combo_plcol {
            timeout-ms = <50>;
            key-positions = <8 17>; 
            bindings = <&pl_col>;   
        };

        // polars_sort f + a = pl.sort('')
        combo_plsort {
            timeout-ms = <50>;
            key-positions = <8 5>; 
            bindings = <&pl_col>;   
        };
               
    };

    behaviors {

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        // K 탭 댄스: 1번 누르면 K, 2번 ( 
        k_par: k_parenthesis {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp K>, <&kp LPAR>, <&kp LBKT>, <&kp LBRC>;
        };

        // L 탭 댄스: 1번 누르면 L, 2번 )
        l_par2: l_parenthesis2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp L>, <&kp RPAR>, <&kp RBKT>, <&kp RBRC>;
        };

        // L 탭 댄스: 1번 누르면 L, 2번 ,테스트용
        l_par: l_parenthesis {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp E>, <&kp EQUAL>,  <&kp RPAR>, <&kp RBKT>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer_0 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ' "      │
            HRML(A,        S,         D,         F)     &kp G          &kp H      HRMR(J,        K,         L,        SQT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &mo 1      &kp V        &kp SPACE  &kp BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        direction_layer_1 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │ DELETE   │ HOME     │   UP     │    END   │ INSERT   │
            &trans    &kp LEFT     &trans     &kp RIGHT  &trans          &kp DEL    &kp HOME    &kp UP     &kp END    &kp INS 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │ SCROL UP │ LEFT     │ DOWN     │ RIGHT    │  TAB     │
            &kp LCTRL  &kp LSHFT    &tog 5     &tog 4     &tog 6      &msc SCRL_UP &kp LEFT   &kp DOWN   &kp RIGHT   &kp TAB
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │ SCROL DN │ PG_UP    │          │ PG_DN    │ CAPS     │
             &trans    &trans      &trans   &trans      &trans     &msc SCRL_DOWN &kp PG_UP   &trans    &kp PG_DN  &kp CAPS
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &kp ENTER   &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        number_layer_2 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │    7     │    8     │    9     │          │
             &trans    &trans     &trans     &trans     &trans          &trans    &kp N7     &kp N8     &kp N9     &trans 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │    4     │    5     │    6     │    0     │
            &kp LCTRL  &kp LSHFT   &kp N5     &tog 3     &trans          &trans    &kp N4     &kp N5     &kp N6     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │    1     │    2     │    3     │          │
             &trans    &trans     &trans     &trans     &trans          &trans    &kp N1     &kp N2     &kp N3     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        function_layer_3 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  vol dn  │   mute   │  vol up  │          │   │          │    f7    │     f8   │    f9    │    f11   │
             &trans   &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP  &trans      &trans    &kp F7     &kp F8     &kp F9     &kp F11 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │ alt + f4 │    f4    │     f5   │    f6    │    f10   │
            &kp LCTRL  &kp LSHFT   &kp LALT  &trans      &trans       &kp LA(F4)    &kp F4     &kp F5     &kp F6     &kp F10
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │   prev   │  stop    │  next    │          │   │          │    f1    │     f2   │    f3    │    f12   │
             &trans   &kp C_PREV  &kp C_PP  &kp C_NEXT    &trans         &trans    &kp F1     &kp F2     &kp F3     &kp F12
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &to 0       &to 0         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        mouse_layer_4 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ same like right     │          │          │          │   │          │  L CLICK │    UP    │  R CLICK │          │
             &trans   &mkp LCLK  &mmv MOVE_UP &mkp RCLK &trans           &trans   &mkp LCLK  &mmv MOVE_UP &mkp RCLK &trans 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  SCRL UP │    LEFT  │    DOWN  │   RIGHT  │          │
             &msc SCRL_UP &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans        &msc SCRL_UP &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │ SCRL DN  │ SCRL LEFT│          │SCRL RIGHT│          │
             &msc SCRL_DOWN &msc SCRL_LEFT  &trans  &msc SCRL_RIGHT  &trans        &msc SCRL_DOWN &msc SCRL_LEFT  &trans  &msc SCRL_RIGHT  &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &to 0       &to 0         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        special_layer_5 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │     \    │    =     │     %    │    ~     │   │     `    │     _    │          │     |    │     +    │
            &trans    &kp BSLH    &kp EQUAL  &kp PRCNT  &kp TILDE      &kp GRAVE   &kp UNDER  &trans     &kp PIPE   &kp PLUS 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     *    │     #    │     $    │     =    │    @     │   │    -     │     _    │     [    │     ]    │    :     │
           &kp ASTRK   &kp HASH   &kp DLLR   &kp EQUAL   &kp AT        &kp MINUS  &kp UNDER   &kp LBKT   &kp RBKT  &kp COLON  
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │     ^    │    !     │   │    &     │          │     {    │     }    │    ;     │
            &trans     &trans     &trans    &kp CARET   &kp EXCL       &kp AMPS   &trans     &kp LBRC   &kp RBRC   &kp SEMI
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &to 0      &to 0         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        admin_layer_6 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &to 0      &to 0         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
